---
import { format } from "date-fns";
import MainLayout from "../../layouts/MainLayout.astro";

export async function getStaticPaths() {
    const allPosts: Posts[] = await Astro.glob("../../content/*/*.md*");
    const uniqueTags = [...new Set(allPosts.map((post) => post.frontmatter.tags).flat())];

    return uniqueTags.map(tag => {
        const filteredPosts = allPosts.filter(post => post.frontmatter.tags.includes(tag));
        return {
            params: { tag: tag.toLowerCase().split(" ").join("-") },
            props: { posts: filteredPosts, formattedTag: tag },
        }
    });
}

interface Posts {
    frontmatter: Frontmatter;
}

interface Props {
    posts: Posts[];
    formattedTag: string;
}

const { tag } = Astro.params;
const { posts, formattedTag } = Astro.props;
---

<MainLayout pageTitle={tag}>
    <p>Posts with tag <b>{formattedTag}</b></p>

    <ul class="all-posts">
        {posts
            .sort((a, b) => new Date(b.frontmatter.pubDate).getTime() - new Date(a.frontmatter.pubDate).getTime())
            .map((post) => (
                <li>
                    <h2>
                        <a href={`/${post.frontmatter.slug}`}>{post.frontmatter.title}</a>
                    </h2>
                    <span class="date">{format(new Date(post.frontmatter.pubDate), "R-MM-dd")}</span>
                </li>
        ))}
    </ul>
</MainLayout>
