---
import { getCollection } from "astro:content";

import Post from "../layouts/Post.astro";

export async function getStaticPaths() {
  const blogEntries = await getCollection("blog");
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Post frontmatter={entry.data} file={entry.filePath}>
  <Content />
</Post>
