---
import MainLayout from "../layouts/MainLayout.astro";
const imgLink = `${Astro.site}og/about.png`;
---

<MainLayout pageTitle="About" imgLink={imgLink}>
  <p>
    Hello! My name is Wojciech Wernicki, I'm 27 years old, currently living in
    Warsaw, Poland. My pronouns are they/them.
  </p>
  <p>
    I'm Frontend Developer with 7+ years experience with JavaScript, TypeScript
    and React, Scrum Master since 2018.
  </p>
  <p>Feel free to reach me out 😊</p>

  <ul>
    <li>
      by mail: <a href="mailto:wojciech@wojciech.space"
        >wojciech [at] wojciech.space</a
      >
    </li>
    <li>
      by Mastodon: <a
        href="https://hachyderm.io/@wojciech"
        target="_blank"
        rel="noopener noreferrer">@wojciech@hachyderm.io</a
      >
    </li>
    <li>
      Visit my Pixelfed: <a
        href="https://pixel.pol.social/@wojciech_space"
        target="_blank"
        rel="noopener noreferrer">@wojciech_space@pixel.pol.social</a
      >
    </li>
  </ul>

  <p>
    See also what I <a href="/uses">use everyday</a> or what I am <a href="/now"
      >doing right now</a
    >.
  </p>
</MainLayout>
