---
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import { format } from "date-fns";
import MainLayout from "../layouts/MainLayout.astro";

const allArchivePosts = await getCollection("archive");
const latestPosts: CollectionEntry<"archive">[] = [...allArchivePosts]
  .sort(
    (a, b) =>
      new Date(b.data.pubDate).getTime() - new Date(a.data.pubDate).getTime()
  );
const imgLink = `${Astro.site}og/archive.png`;
---

<MainLayout imgLink={imgLink} lang="pl">
  <p>
    Cześć! Mój blog w domenie wojtekwernicki.eu został zarchiwizowany. Wszystkie posty znajdziesz teraz tutaj, pod adresem <b>wojciech.space/archive</b>.
  </p>

  <h2>Wszystkie posty</h2>

  <ul class="all-posts">
    {
      latestPosts.map((post) => (
        <li>
          <div class="header">
            <h2>
              <a href={`/archive/${post.slug}`}>{post.data.title}</a>
            </h2>
            <span class="date">{format(post.data.pubDate, "R-MM-dd")}</span>
          </div>
          <div class="description">{post.data.description}</div>
          <div class="tags">
            {post.data.tags.map((tag) => (
              <span>
                <a href={`/tags/${tag.toLowerCase().split(" ").join("-")}`}>
                  {tag}
                </a>
              </span>
            ))}
          </div>
        </li>
      ))
    }
  </ul>
</MainLayout>
