---
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import { format } from "date-fns";
import MainLayout from "../layouts/MainLayout.astro";

const allBlogPosts = await getCollection("blog");
const allPosts: CollectionEntry<"blog">[] = [...allBlogPosts].sort(
  (a, b) =>
    new Date(b.data.pubDate).getTime() - new Date(a.data.pubDate).getTime()
);
const imgLink = `${Astro.site}og/blog.png`;
---

<MainLayout pageTitle="All posts" imgLink={imgLink}>
  <h1>All posts</h1>

  <ul class="all-posts">
    {
      allPosts.map((post) => (
        <li>
          <div class="header">
            <h2>
              <a href={`/${post.slug}`}>{post.data.title}</a>
            </h2>
            <span class="date">{format(post.data.pubDate, "R-MM-dd")}</span>
          </div>
          <div class="description">{post.data.description}</div>
          <div class="tags">
            {post.data.tags.map((tag) => (
              <span>
                <a href={`/tags/${tag.toLowerCase().split(" ").join("-")}`}>
                  {tag}
                </a>
              </span>
            ))}
          </div>
        </li>
      ))
    }
  </ul>
</MainLayout>
