---
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import { format } from "date-fns";
import MainLayout from "../layouts/MainLayout.astro";

const allBlogPosts = await getCollection("blog");
const latestPosts: CollectionEntry<"blog">[] = [...allBlogPosts]
  .sort(
    (a, b) =>
      new Date(b.data.pubDate).getTime() - new Date(a.data.pubDate).getTime()
  )
  .slice(0, 10);
const imgLink = `${Astro.site}og/index.png`;
---

<MainLayout imgLink={imgLink}>
  <p>
    I'm Frontend Developer with 7+ years experience with JavaScript, TypeScript,
    React and Scrum.
    <a href="/about/">Read more</a>.
  </p>

  <h2>Latest posts</h2>

  <ul class="all-posts">
    {
      latestPosts.map((post) => (
        <li>
          <div class="header">
            <h2>
              <a href={post.slug}>{post.data.title}</a>
            </h2>
            <span class="date">{format(post.data.pubDate, "R-MM-dd")}</span>
          </div>
          <div class="description">{post.data.description}</div>
          <div class="tags">
            {post.data.tags.map((tag) => (
              <span>
                <a href={`/tags/${tag.toLowerCase().split(" ").join("-")}`}>
                  {tag}
                </a>
              </span>
            ))}
          </div>
        </li>
      ))
    }
  </ul>
  <p><a href="/blog">All posts &rarr;</a></p>
</MainLayout>
