---
import MainLayout from "../layouts/MainLayout.astro";

const imgLink = `${Astro.site}og/now.png`;
---

<MainLayout pageTitle="/now" imgLink={imgLink}>
  <h1>/now</h1>

  <h2>Books</h2>
  <ul>
    <li>None (a little break until September)</li>
  </ul>

  <h2>Projects</h2>
  <ul>
    <li>Moving my old blog (wojtekwernicki.eu) here</li>
  </ul>
</MainLayout>
