---
import MainLayout from "../layouts/MainLayout.astro";
const imgLink = `${Astro.site}og/uses.png`;
---

<MainLayout pageTitle="/uses" imgLink={imgLink}>
  <h1>/uses</h1>

  <h2>Development</h2>
  <ul>
    <li>Dell ThinkPad T470s: Debian + Xfce</li>
    <li>Keychron K2 Hot-swappable B3H</li>
    <li>Logitech M720</li>
  </ul>

  <h2>In my pocket & backpack</h2>
  <ul>
    <li>Fairphone 4 256 GB</li>
    <li>Leuchtturm 1917 Calendar</li>
    <li>Sony α6400 + 16-50 mm lens</li>
    <li>Sony WH-1000XM4</li>
  </ul>
</MainLayout>
