---
import { Icon } from "astro-icon/components";
import { format } from "date-fns";
import { enGB } from "date-fns/locale";
---

<footer>
  <div>
    <p>
      &copy; {new Date().getFullYear()} Wojciech Wernicki. Built with ♥ & Astro.
    </p>
    <p class="schmol">
      Last updated at {format(new Date(), "PPPPppp", { locale: enGB })}.
    </p>
  </div>

  <ul>
    <li>
      <a
        href="https://fedi.wojciech.space/@wojciech"
        target="_blank"
        rel="noopener noreferrer"
      >
        <Icon name="mdi:mastodon" />
      </a>
    </li>
    <li>
      <a
        href="https://www.flickr.com/photos/wojciech_space/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <Icon name="ri:flickr-fill" />
      </a>
    </li>
    <li>
      <a href="/rss.xml" class="rss">
        <Icon name="mdi:rss" />
      </a>
    </li>
  </ul>
</footer>
