---
import { Icon } from "astro-icon/components";
---

<nav>
  <a href="/">
    <h1>Wojciech Wernicki</h1>
  </a>

  <ul>
    <li><a href="/about">About</a></li>
    <li><a href="/blog">Blog</a></li>
    <li><a href="/archive">Archive</a></li>
    <li><a href="/uses">/uses</a></li>
    <li><a href="/now">/now</a></li>
    <li>
      <a href="/rss.xml" class="rss">
        <Icon name="mdi:rss" />
      </a>
    </li>
  </ul>
</nav>
