---
interface Props {
  pageTitle?: string;
  frontmatter?: Frontmatter;
  imgLink?: string;
}

const { pageTitle, frontmatter, imgLink } = Astro.props;

const meLinks = [
  "https://pelnakulturka.art",
  "https://wojciech.life",
  "https://https://fedi.wojciech.space/@wojciech",
  "https://www.flickr.com/photos/wojciech_space/",
  "https://vernissage.pnpde.social/@wojciechspace",
];
const description = "Programming blog about JavaScript, React and more";
const url = `${import.meta.env.SITE}/${frontmatter?.slug ? `${frontmatter.slug}/` : ""}`;
---

<link rel="canonical" href={url} />
<meta name="description" content={frontmatter?.description ?? description} />
<meta name="fediverse:creator" content="@wojciech@wojciech.space" />
<meta property="og:url" content={url} />
<meta property="og:site_name" content="wojciech.space" />
<meta property="og:type" content={!!frontmatter ? "article" : "website"} />
<meta property="og:title" content={frontmatter?.title || pageTitle} />
<meta
  property="og:description"
  content={frontmatter?.description || description}
/>
{!!imgLink && <meta property="og:image" content={imgLink} />}
{
  !!frontmatter?.tags &&
    frontmatter.tags.map((tag) => <meta property="article:tag" content={tag} />)
}

{meLinks.map((link) => <link rel="me" href={link} />)}
