/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Prevent font size inflation */
html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
    margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
    line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
    text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
    color: currentColor;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    font-style: italic;
    background-repeat: no-repeat;
    background-size: cover;
    shape-margin: 0.75rem;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
    font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
    min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
    scroll-margin-block: 5ex;
}

:root {
    --background-colour: #fefefe;
    --text-colour: #333;
    --accent-colour: #f60;
}

html {
    font-size: 16px;
    width: 100%;
    height: 100%;
    min-height: 100%;
}

body {
    margin: 0;
    padding: 0;
    margin-inline: auto;
    width: 100%;
    max-width: 800px;
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
    display: flex;
    flex-direction: column;

    background-color: var(--background-colour);
    color: var(--text-colour);
}

h1, h2, h3 {
    font-weight: bold;
    margin-top: 1.5rem;
    margin-bottom: 1.25rem;
}

h1 {
    font-size: 20px;
}

h2 {
    font-size: 18px;
}

h3 {
    font-size: 16px;
}

body > nav,
body > footer,
.all-posts li .header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

body > nav ul,
body > footer ul {
    list-style: none;
}

body > nav ul li,
body > footer ul li {
    display: inline-block;
    margin-left: 1rem;
}

body > nav ul li a.rss [astro-icon] {
    margin-bottom: -6px;
}

.rss {
    color: var(--accent-colour) !important;
}

[astro-icon] {
    height: 1.5rem;
    width: auto;
}

body > main {
    flex: 1;
}

.all-posts {
    list-style: none;
    padding-left: 0;
    margin-top: 2rem;
}

.all-posts li {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--text-colour);
}

.all-posts li .header {
    margin-bottom: 1rem;
}

.all-posts li:last-of-type {
    border-bottom: none;
}

.all-posts h2 {
    margin: 0;
}

.all-posts .date {
    font-size: 0.8rem;
}

.all-posts .tags span:not(:last-of-type) {
    margin-right: 0.5rem;
}

p {
    margin-bottom: 1rem;
}

a {
    text-decoration: underline;
    color: var(--text-colour);
    transition: 0.5s color;
    cursor: pointer;
}

a:hover {
    color: var(--accent-colour);
}

hr {
    color: var(--text-colour);
    width: 75%;
    margin: 2rem auto;
}

pre {
    padding: 1rem;
}

@media screen and (max-width: 732px) {
    body {
        padding: 0 1rem;
    }

    body > nav,
    body > footer {
        flex-direction: column;
        align-items: center;
    }

    body > nav ul,
    body > footer ul {
        padding-left: 0;
        margin-top: 0;
    }

    body > footer p {
        text-align: center;
    }

    body > nav ul li:first-of-type,
    body > footer ul li:first-of-type {
        margin-left: 0;
    }
}

.schmol {
    font-size: 0.8rem;
}

main a[href^="https://"]::after {
    content: "";
    width: 11px;
    height: 11px;
    margin-left: 4px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z'/%3E%3Cpath fill-rule='evenodd' d='M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z'/%3E%3C/svg%3E");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
}
