---
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
import Seo from "../components/Seo.astro";

interface Props {
  pageTitle?: string;
  frontmatter?: Frontmatter;
  imgLink?: string;
  lang?: string;
}

const { pageTitle, frontmatter, imgLink, lang } = Astro.props;

const htmlTitle = pageTitle
  ? `${pageTitle} | Wojciech Wernicki`
  : "Wojciech Wernicki";
---

<html lang={lang ?? "en"}>
  <head>
    <meta charset="utf-8" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/apple-touch-icon.png?v=20231229"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/favicon-32x32.png?v=20231229"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/favicon-16x16.png?v=20231229"
    />
    <link rel="manifest" href="/site.webmanifest" />
    <link
      rel="mask-icon"
      href="/safari-pinned-tab.svg?v=20231229"
      color="#5bbad5"
    />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="ai-generated" content="none" />
    <meta name="author" content="Wojciech Wernicki" />
    <title>{htmlTitle}</title>
    <link rel="stylesheet" href="/styles/global.css" />
    <link rel="sitemap" href="/sitemap-index.xml" />

    <Seo pageTitle={pageTitle} frontmatter={frontmatter} imgLink={imgLink} />
  </head>
  <body>
    <Nav />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
