---
import { format } from "date-fns";

import MainLayout from "./MainLayout.astro";

const frontmatter: Frontmatter = Astro.props.frontmatter;
const imgLink = `${Astro.site}og/${frontmatter.slug}.png`;
const lang = Astro.props.file.includes("archive") ? "pl" : "en";
---

<MainLayout pageTitle={frontmatter.title} frontmatter={frontmatter} imgLink={imgLink} lang={lang}>
    <h1>{frontmatter.title}</h1>
    Published on {format(new Date(frontmatter.pubDate), "R-MM-dd")} ·
    {frontmatter.tags.map(tag => (
        <span>
            <a href={`/tags/${tag.toLowerCase().split(" ").join("-")}`}>{tag}</a>
        </span>
    ))}
    <slot />
</MainLayout>
